<div class="row feed_box">
  <p class="title">
    <%= feed.title %>
    <br>
    URL: <%= feed.url %>
  </p>
  <p>
    <b>Published On : </b> <%= feed.published %>
  </p>
  <p>
    <%=raw feed.summary %>
  </p>
</div>

