<div class="span9">
  <div class="span5">
    <h1>RSS Feed Reader</h1>
  </div>
  <div class="span3">
    <%= link_to 'Read Feeds', reader_rss_feeds_path,
                :class => 'btn btn-primary' %>
    <%= link_to 'List Feeds', rss_feeds_path,
                :class => 'btn btn-primary' %>
  </div>
</div>